<%- include('partials/header') %>
<h1>Contact Us</h1>
<p>Have a question, suggestion, or just want to say hello? We'd love to hear from you! Feel free to reach out to us using the contact information below:</p>

   <p> Email: blogify@gmail.com</p>
    
   <p> Phone: +91982829881</p>
    
   <p> Social Media: Connect with us on blogify211 for updates, behind-the-scenes content, and more!</p>
<%- include('partials/footer') %>